@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Poppins:wght@200;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  white-space: pre-line;
  color: #333333;
  @apply font-poppins;
}

*, :focus-visible {
  outline-color: #FFD700;
  
}

button:focus-visible {
  outline-color: #0d98ba;
}

a {
  transition: color 0.1s linear;
}

p {
  color: #201e1a;
}

input, textarea, select {
  padding: 10px!important;
}

aside {
  @apply bg-offWhite;
}

.inez {
  top: -2px;
  position: absolute;
}

.card-wrapper {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 45px 0px 55px;
}

.readme-btn {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 24px 24px;
    border-radius: 1px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.resumeimg {
  width: 90px;
}

@media (max-width: 1023px) {
  #sidenav {
    justify-content: space-between;
  }
  #nav-items li {
    margin-left: 15px;
  }
}

@media (max-width: 640px) {
  #nav-items li {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  #nav-items li {
    margin-left: 2px;
    font-size: 14px;
  }
  .text {
    padding: 12px 20px;
  }
  .submit-btn {
    font-size: 14px;
  }
}

@media (max-width: 1208px) {
  h1.my-name {
    font-size: 2.45rem;
    line-height: 1;
  }
  h4.role {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  #menu-image:hover {
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110;
  }
}