@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Poppins:wght@200;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  white-space: pre-line;
  color: #333333;
  @apply font-poppins;
}

*, :focus-visible {
  outline-color: #FFD700;
  
}

button:focus-visible {
  outline-color: #0d98ba;
}

a {
  transition: color 0.1s linear;
}

p {
  color: #201e1a;
}

input, textarea, select {
  padding: 10px!important;
}

aside {
  @apply bg-offWhite;
}

hr {
 padding-left: -20px;
 padding-right: -20px;
}

.container {
  position: relative;
  width: 50%;
}

.inez {
  top: -2px;
  position: absolute;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  /* background-color: #0d98ba;
  color: white; */
  font-size: 16px;
  padding: 16px 32px;
}

.text:hover {
  /* background-color: #FFD700;
  color: black; */
}

.quiz-container {
  height: 80vh;
}

.card-wrapper {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 45px 0px 55px;
}

.resumeimg {
  width: 90px;
}

.readme-btn {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 24px 24px;
    /* border-top: 1px solid hsla(0, 0%, 60.8%, 0.25);
    border-right: 1px solid hsla(0, 0%, 60.8%, 0.25);
    border-left: 1px solid hsla(0, 0%, 60.8%, 0.25); */
    border-radius: 1px;
    /* background-color: #f9a40b;
    font-family: 'Object Sans', 'Trebuchet MS', sans-serif;
    color: #100f0d; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#menu-image {
  /* transition: transform 0.5s ease; */
  /* width: 800px; */
}

#menu-image {
  width: 300px !important;
}

#menu-image:hover {
    /* -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); */
    @apply border-2 border-goldenrod;
}

#project-image {
  @apply border border-platinum;
}
/* 
#section-nav:hover {
  @apply text-goldenrod;
} */



@media (max-width: 1023px) {
  #sidenav {
    justify-content: space-between;
  }
  #nav-items li {
    margin-left: 15px;
  }
}

@media (max-width: 640px) {
  #nav-items li {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  #nav-items li {
    margin-left: 2px;
    font-size: 14px;
  }
  .text {
    padding: 12px 20px;
  }
  .submit-btn {
    font-size: 14px;
  }
}

@media (max-width: 1208px) {
  h1.my-name {
    font-size: 2.45rem;
    line-height: 1;
  }
  h4.role {
    font-size: 14px;
  }
}