@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Poppins:wght@200;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #333333;
  @apply font-poppins;
}

*, :focus-visible {
  outline-color: #FFD700;
  
}

/* a {
  transition: color 0.1s linear;
} */

aside {
  @apply bg-offWhite;
}

/* .footer-icons {
  font-size: 24px;
  color: white;
  background-color: #0d98ba;
  padding: 4px 6px;
  border-radius: 25%;
} */

.container {
  position: relative;
  width: 50%;
}

.inez {
  top: -2px;
  position: absolute;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #0d98ba;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.text:hover {
  background-color: #FFD700;
  color: black;
}

.quiz-container {
  height: 80vh;
}

#menu-image {
  transition: transform 0.5s ease;
}

#menu-image:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#project-image {
  @apply border border-platinum;
}

#section-nav:hover {
  @apply text-goldenrod;
}



@media (max-width: 1023px) {
  #sidenav {
    justify-content: space-between;
  }
  #nav-items li {
    margin-left: 15px;
  }
}

@media (max-width: 640px) {
  #nav-items li {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  #nav-items li {
    margin-left: 2px;
    font-size: 14px;
  }
}

@media (max-width: 1208px) {
  h1.my-name {
    font-size: 2.45rem;
    line-height: 1;
  }
  h4.role {
    font-size: 14px;
  }
}